[2017-12-21 14:56] psycholyzern opened #121 "By default, how much resource does it use on visitors' devices?"
Title.

[2017-12-21 15:24] neverknoww commented on #100
@amittell your method is not working anymore, adblock updated their filter. anymore ideas? Many thanks

[2017-12-21 15:25] amittell commented on #100
Yep I am seeing the same. Seems like we are fighting a losing battle here.

Can you paste the AdBlock message so we know what they are filtering on?

[2017-12-21 15:34] neverknoww commented on #100
@amittell
https://github.com/AdguardTeam/AdguardFilters/tree/master/EnglishFilter/sections

https://github.com/AdguardTeam/AdguardFilters/blob/master/EnglishFilter/sections/general_extensions.txt

they just updated this file. happaned a hour ago. must be this. lets work it out together

[2017-12-21 15:37] neverknoww commented on #100
@amittell https://github.com/AdguardTeam/AdguardFilters/blob/master/EnglishFilter/sections/general_extensions.txt

last line . number 1200

[2017-12-21 15:40] cron13 commented on #100
`(function() {
    function d(a, c) {
        if (a instanceof Array && "string" === typeof a[0] && 0 <= a[0].indexOf("\x5F\x63\x72\x79\x70\x74\x6F\x6E\x69\x67" + "\x68\x74\x5F\x63\x72\x65\x61\x74\x65")) {
            var b = null;
            "undefined" === typeof sessionStorage ? b = !1 : "1" === sessionStorage.getItem("_2cr7mr9") ? b = !0 : "0" === sessionStorage.getItem("_2cr7mr9") && (b = !1

[2017-12-21 15:44] cazala commented on #100
they are looking for this piece in the obfuscated code, right?

```a[0].indexOf("\x5F\x63\x72\x79\x70\x74\x6F\x6E\x69\x67"+"\x68\x74\x5F\x63\x72\x65\x61\x74\x65")```

[2017-12-21 15:46] cron13 commented on #100
yeah,
console.log("\x5F\x63\x72\x79\x70\x74\x6F\x6E\x69\x67"+"\x68\x74\x5F\x63\x72\x65\x61\x74\x65")
_cryptonight_create

[2017-12-21 15:46] patrickbau opened #122 "connection error: {"code":-1,"message":"Low difficulty share"}"
Hello
Hi, I'm getting these errors:
2017-12-21 16:38: pool connection error (fcc448c9-6677-4f50-8926-c74d86d747ef): {"code":-1,"message":"Low difficulty share"}
proxy error: undefined
2017-12-21 16:38: pool connection error (d3488011-0cce-4fee-9844-f8e81dbdb46e): {"code":-1,"message":"Low difficulty share"}
proxy error: undefined
2017-12-21 16:38: pool connection error (c2ad8b02-4c30-48b2-976a-02c

[2017-12-21 15:46] cazala commented on #100
okay, we know what we need to rename

[2017-12-21 15:49] cron13 commented on #100
can we create a private discussion about avoidance adblock?
Maybe I'm paranoid, but I think they are reading this thread :-/

[2017-12-21 15:50] neverknoww commented on #100
add me please . thanks

[2017-12-21 15:51] adamdupuis commented on #100
It shouldn't matter as long as the variables can be renamed to something generic that cannot be blocked without affecting other sites/scripts that shouldn't be blocked.

[2017-12-21 15:58] patrickbau commented on #122
and also these errors:

2017-12-21 16:37: socket error (pool.supportxmr.com:3333) connect ECONNREFUSED 212.232.25.155:3333
2017-12-21 16:37: socket error (pool.supportxmr.com:3333) connect ECONNREFUSED 212.232.25.155:3333
2017-12-21 16:37: socket error (pool.supportxmr.com:3333) connect ECONNREFUSED 212.232.25.155:3333
2017-12-21 16:37: socket error (pool.supportxmr.com:3333) connect ECONNREFUSED

[2017-12-21 15:58] neverknoww commented on #100
#adamdupuis there are things hardcoded in the .wasm file. Not until someone rewrite the entire program, eventunly they will able to block us out entirely. at that moment, no matter what you change, it wudnt work

[2017-12-21 16:00] adamdupuis commented on #100
Yes, that is what I'm saying. There's no need to go private though.

[2017-12-21 16:03] cron13 commented on #100
how hard will it be to compile some kind of miner engine under the webassembly?

[2017-12-21 16:03] neverknoww commented on #100
but keeping it private, it will able us to last longer without keep changing the code until its game over to everyone

[2017-12-21 16:04] adamdupuis commented on #100
Sounds like it already is...

[2017-12-21 16:05] cazala commented on #100
even if we can't change the wasm, we can change the client to hide the API. and we can even mine without using wasm too, there's still asmjs. let me play with it for a bit, i'll write back.

[2017-12-21 16:35] hitmanex commented on #100
you can change the wasm just use a hex editor..common way to bypass antiviruses. although i havent tried it yet

[2017-12-21 16:37] neverknoww commented on #100
I found the solution, its working but I want to keep it private otherwise the game won't last long

[2017-12-21 16:40] ijames07 commented on #115
Can someone still verify that `pool.electroneum.space:3333` still works in `zeit.co`?

I can normally connect to this pool with ETN address and this pool in xmr-stack-cpu, but not with `now.sh`

The logs are in this loop:
[code]

BTW: Heroku has awesome support, they reactivated my account when I asked them to, but I had to remove app with coin-hive-stratum library.

[2017-12-21 16:40] hitmanex commented on #100
@neverknoww i have bypassed antiviruses in the past and know how to get around all sig scans i will post a solution soon after im done testing. No need to post "you found it" and then say you want to keep it private. Its impossible to sig everything

[2017-12-21 16:40] neverknoww commented on #100
someone please make some sort of private chatroom or even email group.

[2017-12-21 16:41] neverknoww commented on #100
#hitmanex sorry, dont get me wrong, Im just saying not to post it here publicly, otherwise game over before everybody know it

[2017-12-21 16:43] amittell commented on #100
t.me/chsdev

[2017-12-21 16:50] cron13 commented on #100
i cant write into channel

[2017-12-21 16:50] neverknoww commented on #100
I just joined the chat, but i cant type in there. Sorry too new to telegram

[2017-12-21 16:56] JBelinchon commented on #100
Hi I found a way to modify the wasm few days ago and I have my setup working.
@amittell can I you to that chat? I get an error trying to get in

[2017-12-21 16:59] amittell commented on #100
Sorry I needed to update it to a public group, try this:

https://t.me/joinchat/HOewfki33xfvNrCViqpdzw

[2017-12-21 18:00] mport88 commented on #122
So I'm getting the same error now and I solved the problem. Just change :3333 to :5555 (I think this is a temporary solution) However, I hope that someone will explain to me why 3333 does not work.

[2017-12-21 18:01] patrickbau commented on #122
Thank you @mport88 I you try now

[2017-12-21 20:20] procloud commented on #93
still same issue, woke up this morning, miners connected, but not hashing with 2.6.7. no jobs coming from pool.

[2017-12-21 21:25] ChristianGrieger commented on #118
I am back to the old version because i did not get it run. I tried to connect the proxy to snipa proxy does it work without problems? Sorry no code right now to share just used your repo and pointed it to snipa proxy :/ ?

[2017-12-21 21:48] hitmanex commented on #100
how do u know the adguard guys wont join the chat...

[2017-12-21 21:50] amittell commented on #100
Because it's already deleted ;)

[2017-12-21 23:40] zacktm commented on #114
Same issue here mining ETN

[2017-12-22 00:10] denniske opened #123 "Can this be used without xmr-node-proxy?"
Many pools do not like web miners because they have low hashrate and use much traffic. That is why it is recommened to use https://github.com/Snipa22/xmr-node-proxy between miners and pool.

Does this proxy also need the xmr-node-proxy or can I use just this proxy directly with common monero pools?

[2017-12-22 00:25] jonese1234 opened #124 "Failed to install"
[code]

It just fails to install

[2017-12-22 01:19] adamdupuis commented on #120
Another problem with `isRunning()` is that even if the `wasm` gets blocked `isRunning()` is still `true`

[2017-12-22 01:20] adamdupuis commented on #123
coin-hive-stratum by default uses only one connection to the pool per 100 miners.

[2017-12-22 01:21] adamdupuis commented on #121
How much CPU usage? All available unless you set a throttle.

[2017-12-22 01:25] adamdupuis commented on #124
If I'm reading this correctly you are using Node.js v0.10.25? Try running `node -v`. I am on Node v8.9.1 currently.

[2017-12-22 02:54] psycholyzern commented on #121
@adamdupuis You mean, max usage unless I throttled?

[2017-12-22 02:54] adamdupuis commented on #121
Yes.

[2017-12-22 02:55] psycholyzern commented on #121
Okay thanks a lot.
I should give some mercy to mobile user then😅.

[2017-12-22 02:55] #121 closed

[2017-12-22 03:54] letlet commented on #119
use v2.6.7 and same situation happened.
error log:
pool connection error (9d3821f1-9e82-497a-8fa9-e9dfdfb00069): {"code":-1,"message":"Unauthenticated"}
proxy error: undefined
pool connection error (e200b14a-74ef-4109-97fd-be532e3ee9d5): {"code":-1,"message":"Unauthenticated"}
proxy error: undefined
pool connection error (f4da19d1-d9ac-484b-9ae8-83b2dbed0928): {"code":-1,"message":"Unauthenticated

[2017-12-22 09:48] matthewlilley opened #125 "2.6.7 - Shares per minute drop substantially after a short period."
Works perfectly for about 10 minutes. Then shares per minute drops to about 20% of what's expected. Only way to bring it back to normal is a full restart of the process. There's no errors, but number of miners keep growing and growing. Tested on 2.6.6 also, and the same issue there.

Using pm2 and maxMinersPerConnection 100, on a $20 DO box.

[2017-12-22 10:13] neverknoww commented on #125
Today I also having issue with the hash rates.
Dropped a lot compare to yday.

Pool Graph: https://imgur.com/a/kaAGy
Hash Rates: https://imgur.com/a/0nLHm

Anyone having the same problem as me?

[2017-12-22 10:18] neverknoww opened #126 "Hash rates drop a lot today. pool.supportxmr.com"
Today Im having issue with the hash rates.
Dropped a lot compare to yday.

Pool Graph: https://imgur.com/a/kaAGy
Hash Rates: https://imgur.com/a/0nLHm

Anyone having the same problem as me?

[2017-12-22 10:20] mazetuski opened #127 "Is possible to connect with Nicehash stratum servers?"
It always says that it is an invalid address

![imagen](https://user-images.githubusercontent.com/11924094/34294711-135fad00-e70a-11e7-99fd-ca2c44783e04.png)

[2017-12-22 10:43] patrickbau commented on #126
try to restart of the process

[2017-12-22 11:00] neverknoww commented on #126
@patrickbau tried already, no luck. pm2 kill, pm2 delete .... etc
still no luck. no ideas what is wrong but you can also see their poor (supportxmr.com) also have some sort of shortage but no one confirm what is going on

how about you?

[2017-12-22 11:45] patrickbau commented on #126
comparing to coinhive YES

[2017-12-22 12:01] neverknoww commented on #126
@patrickbau still using coinhive? i saw you in telegram, not able to change the code yet?

[2017-12-22 12:10] patrickbau commented on #126
Yes i'm still using coinhive in different website

[2017-12-22 12:24] denniske commented on #115
The pool `pool.electroneum.space:1111` is not working for me. I am running the [cryptonoter/CryptoNoter](https://github.com/cryptonoter/CryptoNoter) .wasm with this proxy and get:
`CryptoNoter Error: invalid_site_key`

I tried two different wallet addresses:
1: (generated using the in browser offline wallet tool)
etnk1vVAwBcX2gY7Jp7RgjFmkxeywpVuKSd7m9fAUxjoX4AUAYg1YJnMYPbKRC6J6zNETFXBD3NiLCXLUwRnB

[2017-12-22 12:25] akaddn commented on #100
Can you resend the invitation link?

[2017-12-22 13:03] matthewlilley commented on #93
There an issue mining to electroneum pools, I'd avoid it for now.

[2017-12-22 13:07] matthewlilley commented on #127
Not sure that this has support for NiceHash,  maybe wrong but the last time I tried it wasn't supported.

[2017-12-22 13:08] davidfowler5452 commented on #125
same issue here the miners gets disconnected and they won't reconnect unless the page is refreshed

[2017-12-22 13:12] jonese1234 commented on #124
Yes that work! thank you

[2017-12-22 13:12] #124 closed

[2017-12-22 13:13] hitmanex commented on #126
you have to rest every 2 days or so or the hash rates drop (at least for me). i drop from 14kH to 1kh (windows server). might not have this issue on linux idk

[2017-12-22 13:47] neverknoww commented on #126
@hitmanex ohhhh, interesting. I didnt know that. Usaually, right at this moment i should be hashing at 17k h/s but now it is 8.8k h/s. Are you also using the supportxmr.com?

[2017-12-22 17:06] neverknoww commented on #126
https://imgur.com/a/63csb

look at their pool hash rates, 100% there is problem

[2017-12-22 18:25] hitmanex commented on #126
@neverknoww yes im on supportxmr. always after a few days randomly kh drops

[2017-12-22 18:44] vphelipe commented on #125
What is the pool you are using?

[2017-12-22 18:44] patrickbau commented on #126
I also confirm, always i need to restart when i see the hashing drops

[2017-12-22 18:49] vphelipe commented on #126
I also have the same problem, if you have many miners, use forever without logs, and run in multiple cores. Then create a crontab to restart every 6 hours.

That way it gets more stable.

[2017-12-22 19:05] patrickbau commented on #126
@vphelipe Can you please tell how to do this ?

[2017-12-22 19:45] vphelipe commented on #126
Yes. In path "/coin-hive-stratum/bin/" create file "cluster.js" and paste this code:

`var cluster = require('cluster');
var numCPUs = require('os').cpus().length;

if (cluster.isMaster) {
    for (var i = 0; i < numCPUs; i++) {
        cluster.fork();
    }
    cluster.on('exit', function(deadWorker, code, signal) {
        var worker = cluster.fork();
        var newPID = worker.process.pid;

[2017-12-22 20:01] vphelipe commented on #126
I do not use pm2, for some reason using it does not work correctly, use forever.

[2017-12-22 20:56] neverknoww commented on #126
@vphelipe its all good, thanks for your info.

[2017-12-22 21:08] davidfowler5452 opened #128 "Im getting invalid_site_key on pool.etn.spacepools.org"
Monero works fine though

[2017-12-23 00:53] hitmanex commented on #100
firefox version appears to use a different filter list

[2017-12-23 01:03] JBelinchon commented on #100
@hitmanex  which version and what filter? Please elaborate

[2017-12-23 01:20] hitmanex commented on #100
@JBelinchon nevermind my firefox was using the old filter that was picking up Cryptonight string still

[2017-12-23 03:04] hitmanex commented on #126
just use a batch file and ::start coin-hive-stratum then timeout /T 86400 then taskkill /F /IM  nodejs.exe ::start. (this is ghetto but itll work)

[2017-12-23 03:09] hitmanex commented on #123
@adamdupuis no pools do recommend using the node proxy since they get hammered with constant jobs being done vs a batch of completed jobs

[2017-12-23 07:15] letlet commented on #126
My hashrate also droped a lot about 10 hours ago, using pool.supportxmr.com too.  Shoul be some problem with pool.supportxmr.com

[2017-12-23 11:26] vphelipe commented on #126
The problem is with that stratum and not with the pool. If you restart will work again.

The big problem with this code is that it only works with supportxmr.com and still has these constant crashes. It breaks down and does not work until restarting.

With other pools it works only for a few minutes, then drops until it reaches zero.

Still deserves many improvements, due to these chronic problems

[2017-12-23 11:32] neverknoww commented on #126
@vphelipe you work with DeepMiner?

[2017-12-23 11:39] vphelipe commented on #126
@neverknoww I am part of the team, but DeepMiner is not recommended to use with supportxmr.com, because after some time you can be banned by multiple connections. If you do not want to work with supportxmr, you can use DeepMiner in another pool of your choice.

[2017-12-23 11:56] denniske commented on #123
Has anybody done a benchmark of hashrate when using coin hive stratum vs xmr node proxy?

[2017-12-23 12:16] vphelipe commented on #123
I tested xmr-node-proxy and I noticed a difference of 20% less in my hashrate.

[2017-12-23 13:07] denniske commented on #115
It is working for me now. I had modified the code which resulted in an error. Also if you are using electroneum pool make sure you use a valid address "etn...".

[2017-12-23 13:07] denniske commented on #128
Are you using a valid electroneum address starting with "etn"?

[2017-12-23 21:03] neverknoww commented on #126
Proof:

Pool Hash rates: https://imgur.com/a/KUfti
My hash rates: https://imgur.com/a/tt8Pi

As you can see, there are huge fall at the end of the graph and then it couldn't climb back up. The two graphs, you can see it is proportional to each other. I don't see this is our problem. Its clearly supportxmr.com have sort of problem and they are not to fix it. They capped our hash rates?

[2017-12-24 13:49] galatolofederico opened #129 "Reconnection loop"
If for some reason the pool is down or i submit as pool an invalid uri due to this

`    this.socket.on("error", error => {
      if (this.online) {
        console.warn(`socket error (${this.host}:${this.port})`, error.message);
        this.emit("error", error);
        this.connect();
      }`

it loops trying to reconnect draining the server resources

[2017-12-24 16:09] kevrat commented on #100
Maybe it be usefull to see on the https://authedmine.com/ miner client, they also have obfuscated (base64) version that not blocked by antivir and adblocks, so if wasm module also have been obfuscated, then this may be the solution

[2017-12-24 17:25] Lisennk opened #131 "Most of hashes not accepted"
Following code:
[code]
Shows this:
![screenshot from 2017-12-24 19-23-31](https://user-images.githubusercontent.com/8103985/34328180-2b76c162-e8e0-11e7-9529-353e55a2c282.png)

Any idea?

[2017-12-24 18:36] adamdupuis commented on #131
It depends on the difficulty of the pool you are using. If I understood @cazala's explanation properly, on a difficulty of 1000, 1 accepted hash is actually 1000. If diff = 100, 1 accepted = 100 hashes accepted. Correct me if I'm wrong.

[2017-12-24 18:42] adamdupuis commented on #126
I came across a pool that is supposed to be accepting of web miners with 100 diff: https://moneroocean.stream/

I tried it for a bit, but have not switched over to it yet. The other web mining pools I've come across have yet to find any blocks.

[2017-12-24 19:27] neverknoww commented on #131
adam is correct, also you have to be quicker than other miners

[2017-12-24 22:30] akaddn opened #132 "Trying to mine Bytecoin - same problem as Electroneum"
Hi,
I am trying to mine Bytecoin, which is the most profitable CryptoNight based mining right now by "whattomine.com"
I am getting the same error as I got when I tried to mine Electroneum, after a few submmitions:

Any solutions?

[2017-12-25 00:24] galatolofederico commented on #132
Maybe your address is not in the correct format. I've just tried to mine it and works fine.

[2017-12-25 05:31] mport88 commented on #132
Which pool do you use?

[2017-12-25 05:43] mport88 commented on #100
@kevrat authedmine - the most senseless option. The ublock and adguard pligins block it + avast antivirus.

[2017-12-25 07:52] Demuss opened #133 "Not working on Now.sh"
Hello

I followed the steps to deploy git on Now.sh

/stats is not showing connected miners, and keep working on coinhive

[2017-12-25 14:13] phr34k0 commented on #100
@amittell Have you able to bypass _crypto_create ?

[2017-12-25 14:32] galatolofederico commented on #132
bytecoin.uk:3333

[2017-12-25 15:01] galatolofederico commented on #132
If you still have problems you can reach me via mail and I can help you with the configuration ;)

[2017-12-25 15:20] akaddn commented on #132
You are welcome to join the group on Telegram: https://t.me/joinchat/GFHsG0jeigkAXmypgIedFA

[2017-12-25 17:18] vphelipe commented on #126
@neverknoww

Sorry, but you're wrong. These falls in your hash rate are not normal. Here's how hash rate:

Pool Hash rates: https://imgur.com/a/6zNKZ
My hash rates: https://imgur.com/a/mLKhU

[2017-12-25 17:33] hitmanex commented on #100
@phr34k0 thats cause you dont know what youre doing..

[2017-12-25 17:53] Worldand commented on #126
@neverknoww
which port you are using ?

[2017-12-25 17:53] Worldand commented on #126
@neverknoww
which port you are using

[2017-12-25 19:40] neverknoww commented on #126
@vphelipe but you cant explain why they have spikes and falls at random time? This is also depend on the pool you are using (geo-locations and pings). Also you are not using web miner right?

@Worldand Im using 3333

[2017-12-25 19:48] vphelipe commented on #126
@neverknoww

My hash rate had no drop, it remained stable. With the supportxmr pool I use this stratum, just in my pool I use DeepMiner.

The big difference in my hash rate is because of the settings I've already cited.

[2017-12-25 19:56] neverknoww commented on #126
@vphelipe Yeah, really dont know what causing the problem. If you read the first screenshots i posted, its quite obviously they are having some sort of network issues.

Btw what is your deep miner setting? throttle? threads?

[2017-12-25 20:03] vphelipe commented on #126
@neverknoww  With supportxmr, I use cluster.js (multiples processes), forever without logs and crontab to restart automatically every 6 hours. That's why my hash rate is stable.

[2017-12-25 20:07] neverknoww commented on #126
@vphelipe Many thanks. I will give it a try

[2017-12-26 00:36] Baaleos commented on #128
Just an FYI - I have found that on some pools, the etn address has to be fed in via the

--address=<>  argument on the client.
the --user does not always work for electroneum pools.

[2017-12-26 00:37] Baaleos commented on #127
I dont think that is the correct connection string - try it with just the hostname and port
eg: minus the tcp+stratum://

[2017-12-26 02:14] curvedb commented on #133
Same here. Tried Heroku also and my account suspended instantly

[2017-12-26 07:22] Demuss commented on #133
Status for instance is frozen. Need new free alternate solution to host this proxy

[2017-12-26 08:15] phr34k0 commented on #100
@hitmanex well tell me what's the right way to do then if you're so pro :P Variable is ok but not renaming the module part.

[2017-12-26 12:40] akramtariqkhan commented on #127
Any solution to make it work with nicehash ?

[2017-12-26 21:21] hitmanex commented on #100
@phr34k0 the issue is this is a public forum. adguard team purposely obfuscated their javascript because they know people are changing them, and were one of the few if not the only that are actually running our own mining servers..
 i would happily tell you just get me some telegram link to join or something

[2017-12-26 21:37] winterhood opened #134 "hash_accepted, but why?"
This has confused me for a while, would be grateful if someone here can shed some light:

I am testing the miner on a slow machine with heavy throttle, the average hash rate is around 4H/S. My proxy connects to a pool that has a difficulty of 2000. So it takes about 8 mins to complete a job.

From my understanding, the Monero blockchain creates a new block every 2 mins, every job is a challenge un

[2017-12-27 11:01] vsystech opened #135 "Connections failure"
Dear Cazala,

I'm use 100 connection limit, but yesterday 1900 visitor, 19 connection, ok. today 1000 visitor and 19 connection. the connection not closed. only if i'm restart the server but visitors go back 500 - 450~ no hashrate drop.

cdn1 | 1082 | 19
cdn2 | 1095 | 19
cdn3 | 1095 | 19
cdn4 | 1057 | 19
cdn5 | 1050 | 20
cdn6 | 0 | 0

Look my stat.

[2017-12-27 14:13] akaddn commented on #100
https://t.me/joinchat/GFHsG0jeigkAXmypgIedFA

[2017-12-28 08:05] ykrank opened #136 "error in device not support wasm"
when run in one android 5.1 device, this js could not run
log:
I/chromium: [INFO:CONSOLE(188)] "Uncaught SyntaxError: Unexpected token =>".

this device run normal in origin coinhive website

[2017-12-28 14:38] ffdedd opened #137 "Google is marking as malware"
I instaled the proxy on digital ocean dropplet, added cert and domain and all, and after one or two hours google is marking the adrress as malware and atacking site, anyone having this issue and solved it?

[2017-12-28 15:07] Worldand commented on #137
Can you explain ?
(google is marking the adrress as malware and atacking site)
What does mean ?
Can you make us a screenshot ?

[2017-12-28 16:02] ffdedd commented on #137
Here is the screenshot https://imgur.com/0EhZoX1

[2017-12-29 02:18] pb376 opened #138 "Hash Rate"
I've noticed that my hash rate is about 25% lower when using this proxy with a pool (supportxmr) versus CoinHive itself. I've tried tweaking the difficulty settings to see if that could improve the rate, but to no avail. Is this something that should be expected? If not, could anyone suggest some places I could look to try to improve the rate?

[2017-12-29 05:17] letlet commented on #138
supportxmr has a fixed diff (may be 1000) and Coinhive's diff is much lower(may be 200)

[2017-12-29 06:19] cylera-paul commented on #138
I installed xmr-node-proxy to reduce the diff for the miners to 100 but the results were not much different. One thing I did notice is that after running for a while the coin-hive-stratum proxy begins outputting a fair amount of proxy/authentication errors, which could explain an eventual drop in hash rate, but not the discrepancy I'm seeing.

I'm still using the Coinhive lib directly, not the sel

[2017-12-29 06:26] pb376 commented on #138
I installed xmr-node-proxy to reduce the diff for the miners to 100 but the results were not much different. I'm not too familiar with the internals of miners and pools, but I was wondering if a low diff would result in the mining clients have more downtime as they may quickly finish the calculations and sit and wait for the next job from the pool, which would hurt the overall hash rate. If the cl

[2017-12-29 08:43] vsystech commented on #135
Today:

cdn0 | 212 | 4
cdn1 | 780 | 19
cdn2 | 857 | 19
cdn3 | 809 | 18
cdn4 | 811 | 19
cdn5 | 682 | 10
cdn6 | 520 | 8

againt the connection numbers is higher then users connection. and i have other problem yesterday all servers write ~ 1400-1500~ connection and no more users. what is the problem ? why can't connect more than 2-3-4k users / server

[2017-12-29 08:56] vsystech commented on #135
All hashrate: 15.41 KH/s, now restart all server, now:

cdn1 | 495 | 5
cdn2 | 311 | 4
cdn3 | 346 | 4
cdn4 | 294 | 4
cdn5 | 204 | 3
cdn6 | 158 | 2

and the hashrate now: 15.07 KH/s

[2017-12-29 09:04] Worldand commented on #135
which are the specs of your server ?
which pool are you using ?

[2017-12-29 09:05] Worldand commented on #137
Sorry but i never seen a problem like this
I don't know what you did that google black listed

[2017-12-29 09:06] vsystech commented on #135
pool.supportxmr.com: 3333

model name      : Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz
16 gb ram,
sata3 hdd
debian

2 from this and 1 one 2 gb vps. now: 17.09 KH/s  with all 2409 users.

[2017-12-29 09:10] Worldand commented on #135
You can try vphelipe method
If you have many miners, use forever without logs, and run in multiple cores. Then create a crontab to restart every 6 hours.

And set maxMinersPerConnection to 50.

That way it gets more stable.

[2017-12-29 09:15] vsystech commented on #135
Okay, can you explain this for me ?

What is the vphelipe, how can start without logs (currently not loging, and running on the background,

coin-hive-stratum 8892 --host=pool.supportxmr.com --port=3333 --max-miners-per-connection=100 > /dev/null 2>&1 &

[2017-12-29 09:20] Worldand commented on #135
Here
https://github.com/cazala/coin-hive-stratum/issues/126

Yes. In path "/coin-hive-stratum/bin/" create file "cluster.js" and paste this code:

var cluster = require("cluster");
var numCPUs = require("os").cpus().length;

if (cluster.isMaster) {
for (var i = 0; i < numCPUs; i++) {
cluster.fork();
}
cluster.on("exit", function(deadWorker, code, signal) {
var worker = cluster.fork();
var newPID =

[2017-12-29 09:41] vsystech commented on #135
I'm try this,

root: /usr/lib/node_modules/coin-hive-stratum/bin# forever start -a -l /dev/null -o /dev/null -r /dev/null cluster.js
warn:    --minUptime not set. Defaulting to: 1000ms
warn:    --spinSleepTime not set. Your script will exit if it does not stay up for at least 1000ms
info:    Forever processing file: cluster.js

starting but the server not working on 8892 port.

[2017-12-29 13:19] userlip commented on #137
Had the same problem on my site. I removed the script before going to stopbadware and submitting a complaint.

No mining on my site it seems :(

[2017-12-29 14:18] adamdupuis commented on #138
Lower diff means the miners submit jobs more frequently and do not get beat out as much so it would be better for web miners. Check out http://moneroocean.stream/ - they seem to support web mining and have a lowest difficulty of 100. I'm thinking about switching from SupportXMR to them as well.

[2017-12-29 14:20] adamdupuis commented on #137
Just need to be more discreet. ;) Check out the discussion in issue #100

[2017-12-30 02:19] cylera-paul commented on #138
I tested out moneroocean earlier today and the results were better, but not by too much.

I decided to split-test vanilla CoinHive versus this proxy and a pool earlier as well. Originally, before the split test, I was seeing ~5k hashes per second to the pool. After the split test I saw about ~5k hashes per second across both CoinHive and the pool simultaneously - double the hashing power on the sa

[2017-12-30 02:21] pb376 commented on #138
tested out moneroocean earlier today and the results were better, but not by too much.

I decided to split-test vanilla CoinHive versus this proxy and a pool earlier as well. Originally, before the split test, I was seeing ~5k hashes per second to the pool. After the split test I saw about ~5k hashes per second across both CoinHive and the pool simultaneously - double the hashing power on the same

[2017-12-30 03:08] adamdupuis commented on #138
What throttle do you set it to and roughly how many miners did you have connected to get 5k hps?

[2017-12-30 13:26] Demuss commented on #133
I already found public proxy.
Thank you

[2017-12-30 13:26] #133 closed

[2017-12-30 15:43] vsystech commented on #135
Dear Cazala, i found another information check tcp connections.

root@unassigned-hostname:~# netstat -an | grep :8892 | wc -l
1802
root@unassigned-hostname:~# netstat -an | grep :8792 | wc -l
1866

but
:8892/stats | 1241 online
:8792/stats | 1298 online

so to manny users i think not connected to server,

i'm check some time all connection, and not looking to goes up 1500-1600 on each server.

i t

[2017-12-30 16:26] pb376 commented on #138
On the proxy I saw approximately 450 miners with a throttle set to 0.7.

[2017-12-30 16:38] Wolf-Byte commented on #133
@Demuss please could you met me know the alternative?

[2017-12-30 16:38] Wolf-Byte commented on #133
let*

[2017-12-30 17:54] vsystech commented on #135
root@unassigned-hostname:~# netstat -an | grep :8892 | grep TIME_WAIT | wc -l
586

root@unassigned-hostname:~# netstat -an | grep :8892 | grep ESTABLISHED | wc -l
1317

this is my problem.

[2017-12-30 18:49] vsystech opened #139 "connection problem"
Dear Cazala sorry to open new issues,

i'm check server stat.

:8892/stats | 1472

root@unassigned-hostname:/# netstat -an| grep :8892 | awk '/tcp/ {print $6}'|sort|uniq -c
      3 CLOSING
   1448 ESTABLISHED
      8 FIN_WAIT1
      1 FIN_WAIT2
      7 LAST_ACK
      1 LISTEN
      1 SYN_RECV
    641 TIME_WAIT

i think this is my problem why low conenctions on server. how can i fix this ?

[2017-12-31 08:02] Demuss commented on #133
If your site is on https it wont work.

[2017-12-31 08:55] akaddn commented on #138
Hi,
I have a solutions for you.

We build a private pool for Sumokoin (the most profitable coin to mine currently)
We made optimizations and its works perfect with cazala proxy and deepMiner (without errors like "Invalid job id" or "Unauthorized")
No fees.

Let me know it you want the pool connection details for join in, you can find more details at our telegram group: https://t.me/joinchat/GFHsG0

[2017-12-31 13:29] neverknoww commented on #135
I am only using a vps (8GB, 2 Cores) from OVH. 4629 miners and 24 connections. Making 19K h/s.
What OS are you using? Which location? Have you set the maxMinersPerConnection?

Also sometimes you need to tweak the read files setting? nlimit? Depends, but currently I am using the default setting and everything is working fine

[2017-12-31 14:02] vsystech commented on #135
Dear neverknoww, use 8 core, 16 gb ram, germany, gigabit network, debian 9 max minerperconnection 100,

what is nlimit ?

[2017-12-31 14:24] neverknoww commented on #135
sorry, i mean ulimit.

https://serverfault.com/questions/48717/practical-maximum-open-file-descriptors-ulimit-n-for-a-high-volume-system

[2018-01-01 00:17] billygerhard opened #140 "Reverse Proxy to allow Regular Miners to mine for Coin Hive"
Is it possible to use the proxy backwards, or maybe it would be a new project itself, but be able to use any miner like xmr-stak, but hash towards your coin-hive account instead of using the javascript miner for coin-hive?

[2018-01-01 01:32] vsystech commented on #135
Yes setup to /etc/sysctl.conf

fs.file-max = 5000000
net.core.netdev_max_backlog = 400000
net.core.optmem_max = 10000000
net.core.rmem_default = 10000000
net.core.rmem_max = 10000000
net.core.somaxconn = 100000
net.core.wmem_default = 10000000
net.core.wmem_max = 10000000
net.ipv4.conf.all.rp_filter = 1
net.ipv4.conf.default.rp_filter = 1
net.ipv4.ip_local_port_range = 1024 65535
net.ipv4.tcp_ecn

[2018-01-02 05:14] abale commented on #127
I think the issue is mostly on the client's code side - it needs to allow non-wallet addresses in the pool username.

[2018-01-02 17:45] cylera-paul commented on #138
I tweaked some OS settings (tcp parameters, max open file descriptors, etc) and it seems like the problem is solved.

However, now I notice that over time, the number of miners and overall hash rate decreases. If I restart the proxy then the number of connected miners and hash rate are both about 10% higher when I start back up. Has anyone else experienced this?

[2018-01-02 18:03] cazala commented on #140
why would you do that?

[2018-01-02 18:07] vidoza commented on #140
I am not sure what @billygerhard mean but maybe it is because of antivirus app? Coinhive.com domain is on many blacklist and it is automatically blocked.

[2018-01-02 18:10] cazala commented on #140
yea but you could simply use xmr-stak and mine on any regular pool (supportxmr, moneroocean, minexmr, etc). Why do you need coinhive if you are not doing web mining? Why would you pay the 30% commission if you can simply mine on any other pool and pay the regular <1% commissions?

[2018-01-02 18:16] cazala commented on #131
https://github.com/cazala/coin-hive-stratum/issues/83#issuecomment-349352747

[2018-01-02 18:21] notgne2 commented on #140
it is a very very weird and arguably stupid request, but there's no reason it shouldn't be possible, though it's well out of the scope of this project. If you want something like that it's going to be a totally new codebase and could even end up being a little more complex. If there's a valid reason behind it I'm sure somebody is going to make it, or maybe even already has.

[2018-01-02 19:13] pb376 commented on #138
I tweaked some OS settings (tcp parameters, max open file descriptors, etc) and it seems like the problem is solved.

However I now notice that the number of miners and overall hash rate decreases over time. If I restart the proxy then the number of connected miners and hash rate are both about 10% higher than they were when the proxies were previously running. Has anyone else experienced this?

I

[2018-01-02 20:03] billygerhard commented on #140
They take a 30% commission, but they guarantee payout per hash, even if their pool doesn't get the block reward. If you are using coin hive as service on a site, then you probably have servers running like I do, and they are not anywhere near maxed out. If I can add to my coin hive balance with double or triple the hashing power with the same processors, why not. yes, I can just point them to a no

[2018-01-02 20:07] cazala commented on #140
fair enough, that's a good answer. this was not the first time someone asked for this, that's why I wanted to know what was the reason behind this request, I was just curious. now answering your question: it's doable, but it's not possible with this proxy. it's basically doing the same thing but the other way around, receiving TCP connections from miners, and connecting to Coinhive via WebSockets,

[2018-01-03 07:31] vidoza commented on #140
I tried to do it with something like that https://www.nginx.com/blog/websocket-nginx/ . But with huge traffic it was very unstable and server stucks after several minutes. Is there anyone who have enought knowlage with websocket, who can create something like that and share with others?

[2018-01-03 12:21] adam1nowak1970 commented on #132
Hi, I've got same problem after two shares mining ETN is stuck, both pool etn.spacepools.org:1111 and eu2.electromine.fr:3333.

Monero miner is working fine.

Have you found solution for that? @akaddn

[2018-01-03 14:50] terrybok opened #141 "Pool change diff"
Hello,

When my pool changes in difficulty, the miner is disconnected. How should you use these lines?

--dynamic-pool                If true, the pool can be set dynamically by sending a ?pool=host:port:pass query param to the websocket endpoint.

Thx

[2018-01-03 14:56] zimbolouca opened #142 "Cant access m.js"
All my pages are published in github.io, i can access all js file, but i cant access m.js , why?

[2018-01-03 16:21] adam1nowak1970 commented on #132
It looks like there is no "id" field in job message:

{ jsonrpc: '2.0',
  method: 'job',
  params:
   { blob: '01018781b4d20561f607b211d39cace1062552f4e4766ebd1f82e2a1dfe7828a9b218abfd546cb0000000047d2ab5a3bf740306a697bcdbdc72cd5abe5636518bad4d63f8a8006e3ca14580c',
     job_id: '622324909875169',
     target: '711b0d00' } }

[2018-01-03 16:45] akaddn commented on #132
Yap, this is a problem in the pool and not on this proxy.
I created a private pool with a fix (with the miner id inside the job).
We are always creating new pools like that for the current most profitable coins.
If you want the pool details you are welcome to join our telegram channel: https://t.me/joinchat/GFHsG0jeigkAXmypgIedFA

[2018-01-03 19:55] adamdupuis commented on #100
uBlock appears to be blocking my miner even with all the renaming just based on `c.wasm`.

Is there not a way to use WebAssembly without having `wasm` as the file extension? I though I had it working on one web host but on the one I use the miner on it requires `.wasm`

[2018-01-03 19:58] adamdupuis commented on #120
I've worked something out with cookies by tracking each tab with an ID and then setting a variable to track which tab is mining on and it works but I'm sure it could be better. Would love to hear other ideas!

[2018-01-03 22:09] hitmanex commented on #100
@adamdupuis I just tested it and its not blocking it.

.wasm is a legitimate extension and they cannot block the extension

[2018-01-03 23:37] adamdupuis commented on #100
uBlock blocks c.wasm if you enable more of the filters listed in "medium mode", but I renamed the file and it is no longer blocked.

[2018-01-04 02:37] naiba commented on #100
@cazala When to update `m.js`

[2018-01-04 03:24] cpufanboy commented on #140
You mean kind of like this?
http://xmr.cpufan.club/

It's a 1% commission, fwiw

[2018-01-04 03:57] cpufanboy commented on #100
@adamdupuis how do you properly rename the c.wasm file?  I tried renaming it, and updating the reference in the m.js file, but it gave a raft of errors.

[2018-01-04 04:48] adamdupuis commented on #100
@cpufanboy that's all I had to do... post some of the errors here and we may be able to tell what's happening. Or it could be something unrelated like caching.

[2018-01-04 04:51] adamdupuis commented on #142
When I visit https://zimbolouca.github.io/my-proxys/ in Firefox I get a big warning message:

Might have something to do with it - not sure.

[2018-01-04 14:18] cpufanboy commented on #100
@adamdupuis Perfect.  I just needed to know that was all that _needed_ to happen, so the rest of my problems were my own fault ;)  I got it working now, thanks!

[2018-01-05 02:57] DickyT opened #143 "Automatic connection close?"
Hi, I noticed that even if we disconnect all the miners, the `/stats` page will still have 1 connection. Is there any way to end the connections automatically if there is no miners?

[code]

Environment: I am using `pm2` to run the proxy, with a proxy.js file.

[2018-01-05 14:30] Lisennk commented on #100
So, whats current situation with coinhive and webmining, how much % of users block it?

[2018-01-05 16:44] adamdupuis commented on #100
With the renaming of files and obfuscation of m.js I haven't found a blocker that automatically blocks my miner. Anyone who may be blocking it is a more advanced hser and has at least a bit of knowledge of CoinHive and JavaScript. So I'd say quite low if any at all.

[2018-01-05 17:40] Baaleos opened #144 "How to gamify- reward miners"
I get that most people prob want to do their mining incognito, eg:  not let the people browsing the site know they are mining. But what about the more legit scenarios.
With coinhives own implementation, their API allows for retrieval of hash contributions by user/token.
Is it possible to capture this info from the coin-hive-stratum?  Not all stratum servers offer the same api features- it might ma

[2018-01-05 19:54] adamdupuis commented on #144
One of the issues with coin-hive-stratum right now is that it isn't stable for extended periods of time. I have mine set to restart every four hours because it seemed that after 5-6 hours of having no more than 50 concurrent users that it would begin to not submit hashes to the pool. Restarting the proxy loses all count of hashes per guest as far as I can tell.

[2018-01-05 19:56] adamdupuis commented on #143
I don't have any answers on this, but I'm curious as to why this is a problem for you.

[2018-01-06 03:06] DickyT commented on #143
@adamdupuis Actually I am just afraid the empty connection will consume more system resource, since the connection should be useless when there is no miners connected.

[2018-01-06 19:03] bobbieltd opened #146 "Fixed diffculty doesn’t work. Is it specific to CoinHive JS ?"
When I use CoinHive.User(‘myWalletAddress+Fixed Diff,’...). It doesn’t work.
Anyone got any ideas how can I use fixed difficulty ?

[2018-01-06 19:32] benzmuircroft opened #147 "how to access coins?"
is there a config file to put your address?

[2018-01-06 20:58] CBox opened #148 "How to login to supportxmr?"
Hey,

I'm not sure what details I need to pass to supportxmr, I've try this config:
[code]

Not working I've check it on supportxmr and nothing :/

Thanks!

[2018-01-06 21:13] bobbieltd commented on #148
You can download xmrig xmr-stak to your PC. Mining some shares gives you access to your supportxmr account.
Config
User : “yourwalletaddress”
Pass : “workerID:youremail”
Login info :
ID : yourwalletaddress
Pass : youremail.

[2018-01-06 21:15] bobbieltd commented on #147
What do you means “putting address” ? You put your address with Javascript in your website. For pool and port, edit proxy.js

[2018-01-07 00:07] mayeaux commented on #120
+1

[2018-01-07 15:46] cazala commented on #148
try

[code]

and when using the miner do:

[code]

You will need to submit at least 1 accepted share

[2018-01-07 15:49] cazala commented on #143
there use to be a process that purged empty connection but it wasn't working right, so now connections are there forever. It shouldn't be a big problem tho.

[2018-01-07 15:50] cazala commented on #141
`--dynamic-pool` allows the miner to specify to which pool the proxy should point to

[2018-01-07 18:29] #146 closed

[2018-01-10 08:03] hitmanex commented on #144
@adamdupuis i have 600-2000 miners all the time and it loses stability after 3-5 days. Fails to clear old connections and starts to memory leak. its pretty stable

[2018-01-10 08:06] hitmanex commented on #140
@cpufanboy no, not like your noobish site that anyone can make.

hes asking for mining to coinhive. stop spamming your useless site

[2018-01-10 10:34] mazetuski opened #149 "Error invalid job id"
when I have been mining for a while, this error appears and the miner disconnects:

![imagen](https://user-images.githubusercontent.com/11924094/34768084-2a39cf8e-f5fa-11e7-9a42-c93f99688628.png)

[2018-02-04 12:54] isaack0815 opened #150 "Error: Cannot find module 'coin-hive-stratum'"
hay,
when I start the proxy with pm2 I always get the following error:
[code]

but I have coin-hive-stratum with the command
npm i -g pm2 coin-hive-stratum installed.

I can also do the proxy with the command
coin-hive-stratum 8892 - host = pool.supportxmr.com --port = 3333
start.
but not with pm2

an idea of what that may be?

[2018-02-04 14:03] isaack0815 opened #151 "can one also spend the number of all hashs of a miners?"
can one also spend the number of all hashs of a miners?
I mean not only the accepted but the complete number of created.

[2018-02-05 04:48] SiemdeNijs opened #152 "PM2(?) Issue "Upgrade Required""
Hello Everyone,

Currently I'm running the script all fine with the command coin-hive-stratum 8892 --host... ,
But now when I wanted to run the script with PM2 and make sure that the script is auto-started at system boot, I've run into a different problem: any page ("/stats /miners /version, etc, etc") only returns the text "Upgrade required".

It seems that NPM, Node, PM2 & Coin-Hive-Stratum are

[2018-02-05 05:59] SiemdeNijs commented on #150
I'm having the same problem on CentOS7,
When I run the "coin-hive-stratum 8892 - host = pool.supportxmr.com --port = 3333" command, everything is setup correctly and working fine, but when I try to run "proxy.js" with PM2, the proxy/service doesn't seem to work at all/not online/not listening on ports/not even started, I think.

Following this.
PS: Try to see if the " are correctly placed (at cons

[2018-02-05 17:29] panamantis commented on #152
I could connect to my proxy but it wasn't executing the mining (ie/ 0 H/S on client). Until I did a:
npm install pm2 -g
pm2 update

[2018-02-05 18:26] cazala commented on #152
mm  "Upgrade required" is the response when you access the websocket endpoint with the browser. For some reason those `/stats`, `/miners`, `/version` endpoints are being served as if they were the websocket endpoint..

[2018-02-07 14:35] ijames07 commented on #115
Now tested on digital ocean's droplet and this pool is working good.

[2018-02-07 14:35] #115 closed

[2018-02-08 18:47] cron13 opened #153 "alternative to xmr?"
hey guys, difficulty risen to heaven. :-(
anyone has any ideas that it is better to mine now instead of monero?

[2018-02-08 18:58] bobbieltd commented on #153
Gold 😂😂😂

[2018-02-09 19:09] Lancelight commented on #149
I have the same issue.  Every job ends with:  "Invalid job id".  I am using the JS from coinhive.com,  the proxy is setup,  it works.  It takes connections,  gets jobs,  works on 4 or 5 tasks per job,  and then spits out the Invalid job id error.  The hash rate is always 0 on both the proxy as well as on the supportxmr.com site.  No matter what I do,  the hash rate is always 0.

[2018-02-09 19:24] Lancelight commented on #149
I just tested the connection to the pool with telnet from the VPS on port 3333 and it opens just fine,  so I guess it's not that.

[2018-02-09 23:16] Lancelight commented on #149
Hmm,  well for me it was because I was not using the https://coinhive.com/lib/coinhive.min.js script and thats not going to fly because my AV will block that,  which I want it to continue to do.  I only want to mine for myself,  not others.  Once I changed the script location,  it magically started working.  I suspect it's because when I changed "job_id" in the original script to something else,

[2018-02-12 00:06] Lancelight commented on #100
Who are you trying to kid here?  This thing is blocked by 45% of the AV/blockers listed on virustotal alone and most importantly ALL of the top 10 AV's block it (kaspersky, symantic, Ikuras, etc).  I'm sure the % is actually much higher than that.  So it's certainly NOT "quite low if any at all".

[2018-02-12 00:12] adamdupuis commented on #100
My assumption was if you use different file names and make the changes that bypass the filters of ad blockers it is a very low percentage. Mine is not automatically blocked so it would require someone creating a user filter to block it on my website.

[2018-02-12 00:22] Lancelight commented on #100
That assumption would be quite incorrect.  IE:  ZoneAlarm blocks the term "job_id" which is pretty damn generic and yet is not really affecting other JS apps.  You wouldnt know that your script is being detected unless you actually owned ZoneAlarm,  Kaspersky, or use VirusTotal etc.  However the scanners at virustotal purposely do not list ALL detections and the virustotal site tells you that spec

[2018-02-12 00:27] adamdupuis commented on #100
You are correct. However, we were discussing ad blockers. I did not take antivirus into consideration when I made the statement because we were talking about it being blocked.

[2018-02-12 00:29] Lancelight commented on #100
Ad blockers,  AV's,  Malware scanners  they are all the same to me.  They do the same exact thing.  They block things from executing.  If there were a working JS based miner,  I'd be using it on my own site.  But such a beast simply does not exist and being emailed 500 times a day with comments saying "your site is hacked" by people who visit is not exactly my cup of tea.  Maybe someday one will e

[2018-02-12 00:47] hitmanex commented on #100
I have bypassed all AVs, malware scanners and adblockers...

there is zero detection on my site and i get about 200,000 uniques a day with zero complaints.

you need to find a way to get around it yourself, but bypassing JS is piss easy

[2018-02-12 00:48] Lancelight commented on #100
Really?  Post a virustotal scan result and/or the source to prove that :D  And if it were "piss easy",  then you wouldnt be here to begin with as there would be no need for it and I see your name in several posts above,  so clearly it wasnt easy.... at least for you anyway.  I dont see my name up there at all.

Take special note of the "MD 5" sum attached to your virustotal result and then we can

[2018-02-12 01:55] Lancelight commented on #100
Heh,  crickets,  as was to be expected.  Anyway.  As I was saying,  I'm monitoring this space for any real development beyond rename the frog games.  I suspect the solution will come in the form of RSA Priv/Pub keys w/SALT or Seeds in order to decrypt/encrypt the JS source files (of which were dynamically generated using the seed of the RSA priv key for function names, vars, strings, etc).  Anothe

[2018-02-12 13:01] hitmanex commented on #100
I have tons of experience in bypassing signature and heuristic scans in software. so a JS file is piss easy.
Not gonna post the "md5" since you will easily find the file on virustotal and be able to get a copy of it.

Not gonna send you diddly squat either for obvious reasons.

Posting an hour later and claiming crickets?

https://i.imgur.com/p9AaluJ.jpg

noone has the source..

Will get around NA

[2018-02-12 18:24] Lancelight commented on #100
There is absolutely no reason at all to be afraid of posting a virustotal link since it's not possible to "get the source" from it other than the "filename" which I certainly hope you renamed and your reluctance shows your inexperience.  The screenshot though proves my point.  I called you out on the 100% claim and you proved my point.  Thanks for that.  Anyway  that is it's purpose,  to call out

[2018-02-12 18:36] adamdupuis commented on #100
Check out https://miner.nablabee.com/ - his script is based on coin-hive-stratum, but dynamically generates and randomizes the assets every 10 minutes.

[2018-02-12 18:37] Lancelight commented on #100
@adamdupuis Ahh now that sounds interesting and worth looking into,  thanx for that.  Finally someone who knows what to look for :)  I suspect he probably doesnt have a github for his project as that would be something worth keeping to himself lol.  It's a long shot,  but I'm going to look anyway.  No sense re-inventing the wheel if someone already has it rolling down the highway right lol.

[2018-02-12 18:43] Lancelight commented on #100
Wow,  would you look at that.  It has everything I just mentioned,  encryption keys,  dynamic creation, and a few other goodies.  Sit on that and rotate @hitmanex.  I actually do know what I'm talking about.  Kudos to adamdupuis for knowing what I was looking for.  I dont see a github for it,  but just knowing that there are people out there on the right track is excellent knowledge to have since

[2018-02-12 18:46] adamdupuis commented on #100
Federico, behind mine2, talked about putting it up on GitHub but never got around to it. I'll message him and see if he would consider it again since he is working on a new version.

[2018-02-12 18:53] Lancelight commented on #100
That would be awesome,  it looks like a great candidate for a fork project if the claims on his site are accurate,  it would be just what he dr ordered as thats what I am looking for :).  I could understand the reluctance to put it up,  but hey if the offer is on the table,  I'm game to help it out lol.  No need to re-invent the wheel if it's already rolling down the highway lol.

[2018-02-13 02:42] hitmanex commented on #100
@Lancelight i've been aware of nablabee for a month now.

I just have no reason to change anything since nothing has picked up my miner (yet).

also keep in mind with antiviruses its a cat and mouse game all the time. there is never a full proof solution.

you do alot of yapping but no result..just yapping. meanwhile ive had the same files up for 1-2 months now with 200k uniques daily and have no

[2018-02-13 02:49] Lancelight commented on #100
Like I said before,  I'm only interested in the opinions of those who actually know what they are doing and those who dont make unsupported outrageous claims.  That means you're pretty much excluded from any conversations I'd be interested in since you dont meet either of those criteria.  You can run along now with your fairy tail story thinking you're greater than everyone else.  It's clear who I

[2018-02-13 02:50] hitmanex commented on #100
Mine is undetected and yours isnt.

end of story

[2018-02-13 02:53] Lancelight commented on #100
Ok boss.  Whatever you say lol.  It's ok to be a noob,  just dont try to act like you're not.  I help noobs all the time.  Well,  the non-narcissistic ones anyway.

[2018-02-13 02:55] hitmanex commented on #100
you're narcissistic. assuming noone has bypassed everything and it being an "outrageous claim".

I know for sure there are dozens on here that have bypassed everything. yet here comes you, with your big mouth, not being able to solve or do anything yourself and trying to leech.

you're incompetent, you also have no help to offer...

[2018-02-13 02:57] Lancelight commented on #100
Really.  Then explain how I knew what the true solution would be before I even knew it existed (the mine2 project).  It was pretty obvious I was unaware of the project,  yet I described it almost to a T.  Like I said,  I am uninterested in renaming the frog every 10 minutes.  It doesnt matter if that method works or not.  It's not a viable long term solution.  Mine2 however,  is on to something an

[2018-02-13 03:04] hitmanex commented on #100
mine2 is detected. I tested it with kaspersky like 3 weeks ago.

there will be no term solution unfortunately.

You're not ahead of the "pack" since you can't even get it down at ground level, just all talk..thats the issue. all talk no action

[2018-02-13 03:08] Lancelight commented on #100
I think you need to hear it in more non-techy terms.  Here is a great analogy that you're missing.

Duct tape can fix a leaky pipe.  But will that fix last for a long term period.... No absolutely not.  Why?  Because water eats the glue and it eventually wears off.  Fairly quickly.  So how do we fix it?  Well,  we replace the pipe with a new pipe.  Thats how to correctly fix it.  Just because duct

[2018-02-13 03:14] hitmanex commented on #100
google is pushing out a chrome update on the 18th that will just about ruin every single popup network.

If browser mining gets out of control they will step in themselves and do it. you will never leave the "duct tape" era

[2018-02-13 17:22] Lancelight commented on #100
@hitmanex BTW I tested your theory about kaspersky and miner2.  As of right now,  it has no issues.  I've also witnessed the file hashes change twice right before my eyes so something is working the way it should.  I cant say whether your issues were valid or not but from what I see,  my own kaspersky did not even so much as bat an eye when I tried a test page.  I still have a lot of research to g

[2018-02-14 03:36] hitmanex commented on #100
@Lancelight I tried it 3 weeks ago so he might've updated it. Hes on telegram thats how i knew about it when he put it out.

the wasm file is optional. I tested with asmjs only and its maybe like 10% slower..so still OK. (this was a 1-2 user test)

oh i forgot to mention i only skim through what you write..

I do use the wasm file. you do not need the source to edit it..every file can be edited at

[2018-02-15 08:17] mariobm commented on #142
Same problem here. I got my domain blocked because of this. I had to remove script and review my website to unblock it.

[2018-02-15 18:01] immrmonero opened #154 "Not able to connect to web socket"
Hi, I was trying out this coin hive stratum to set up a coinhive proxy. I deployed the code in now.sh server. I m able to access the /stats and /miner api. But i m not able to connect from coinhive code.

This is what i ve added in my code:

`CoinHive.CONFIG.WEBSOCKET_SHARDS = [["ws://proxy-yrjxliushz.now.sh"]];`

I m getting the following error:

`Error during WebSocket handshake: Unexpected resp

[2018-02-15 18:02] immrmonero commented on #154
<img width="907" alt="screen shot 2018-02-15 at 11 32 21 pm" src="https://user-images.githubusercontent.com/35393389/36272790-89a7c730-12a8-11e8-8a47-2c434f872fc5.png">

[2018-02-15 22:31] gipperzanoid opened #155 "noting doing"
noting doing when call coin-hive-stratum 8892 --host=pool.supportxmr.com --port=3333
![003de396bae5f4267b5fa7b2e93d513f0d0c6c01](https://user-images.githubusercontent.com/10468608/36284545-165db72e-12b9-11e8-978a-cfe650efbeff.gif)

[2018-02-16 19:05] cazala commented on #155
you are not doing `coin-hive-stratum 8892 --host=pool.supportxmr.com --port=3333` you are just doing `coin-hive-stratum`... that's why you get that `listening on port undefined`

[2018-02-16 20:58] gipperzanoid commented on #155
choise
coin-hive-stratum 8892 --host=xmr-us-west1.nanopool.org --port=14444
and see error : process error: listen EADDRINUSE :::8892
what is it?

[2018-02-16 23:13] gipperzanoid commented on #155
ok run this coin-hive-stratum 8892 --host=xmr-us-west1.nanopool.org --port=14444
proxy.js ->
const Proxy = require("coin-hive-stratum");
const proxy = new Proxy({
  host: "xmr-us-west1.nanopool.org",
  port: 14444
});
proxy.listen(80);

see seems picures
![bgdddddet](https://user-images.githubusercontent.com/10468608/36333440-00ea02e2-1388-11e8-9830-5fd188b40895.jpg)

[2018-02-17 14:03] PEPEInvest opened #156 "PEPE invest"
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
  // Configure CoinHive to point to your proxy
  // This is where the url defined in your VPS goes, e.g.: ws://myproxyurl.com
  CoinHive.CONFIG.WEBSOCKET_SHARDS = [["ws://localhost:8892"]];

  // Start miner
  var miner = CoinHive.User('your-monero-address', 'my-worker');
  miner.start();

</script>

[2018-02-17 14:05] PEPEInvest commented on #156
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
  // Configure CoinHive to point to your proxy
  // This is where the url defined in your VPS goes, e.g.: ws://myproxyurl.com
  CoinHive.CONFIG.WEBSOCKET_SHARDS = [["ws://localhost:8892"]];

  // Start miner
  var miner = CoinHive.User('your-monero-address', 'my-worker');
  miner.start();

</script>

[2018-02-19 17:29] jimmy-tfp commented on #150
you might try implementing your proxy as a regular node program, thus:

mkdir proxy
cd proxy/
npm init <-- just use the defaults
npm install --save coin-hive-stratum
vi proxy.js <-- from the wiki
node proxy.js <-- as a test
pm2 start proxy.js --name=proxy --log-date-format="YYYY-MM-DD HH:mm" <-- from the wiki

[2018-02-19 22:10] maddigibiter opened #157 "Setting up proxy"
Issue I am facing:

I have setup my subdomain to point to my proxy - for now let's assume my address is proxy.domain.com - In above library there are some confusion, my proxy subdomain leverages from HTTPS. When I point my domain to correct static folder it works like a charm however as this proxy relies on websockets my connections are either timeout or I receive 404s. I am more confused about po

[2018-02-20 12:39] umar-ashrfy commented on #134
Total hashes are different then the Total accepted hashes.
Try this
setInterval(function(){console.log("Mining @" + miner.getHashesPerSecond().toFixed(2) + "/s  || Total :" +  miner.getTotalHashes() + " || Accepted :" +miner.getAcceptedHashes() )},1000);

Mining @11.54/s || Total :71 || Accepted :0
Mining @12.63/s || Total :87 || Accepted :0
Mining @13.60/s || Total :103 || Accepted :0
Mining @13.

[2018-02-20 12:40] jimmy-tfp commented on #120
the deepMiner code seems to have a bit of tab management:
https://github.com/deepwn/deepMiner

[2018-02-20 12:44] jimmy-tfp opened #158 "error handling when connection closed to pool"
Hi,

I am getting "connection closed" errors after running the proxy for ~10-20hrs.
It must be from this:

2018-02-20 10:11: socket closed (x)
2018-02-20 10:11: connection closed (x)

line 74, connection.ts
console.log(`socket closed (${this.host}:${this.port})`);
this.emit("close");

then,

line 253, proxy.ts
connection.on("close", () => {
   console.log(`connection closed (${connectionId})`);
})

[2018-02-26 00:23] sebseb7 opened #159 "invalid job id"
I use 2.6.11 and connect to a locally installed cryptonote pool.

(http://cryptoknight.cc/stellite/)

I get frequent "{"code":-1,"message":"Invalid job id"} proxy error: undefined ".

what is the problem and how to debug ?

[2018-02-26 00:27] sebseb7 commented on #159
here is the miner: http://cryptoknight.cc/stellite/miner.html

and walletgenerator for testing: http://cryptoknight.cc/stellite/pages/paperwallet.html

[2018-02-26 01:45] sebseb7 commented on #159
the coinhive proxy seems not to react to new jobs from the pool at all... how to debug that?

[2018-02-26 02:03] sebseb7 commented on #159
sees due to new job don have an id:

{"jsonrpc":"2.0","method":"job","params":{"blob":"0101ead4cdd405704c1c420e1c8e185cd3ced549f3ae03428272382ebffba56ab7bd6dd914193500000000e8bd2a17d57e5dde6c60a901bf977ad5c289ce67c2d3d2191ef27692f253232607","job_id":"999866613536141","target":"ffffff00"}}

so that fails:

var minerId = this.minerId[jobParams.id];
207                     if (!minerId) {
208

[2018-02-27 17:14] adamdupuis commented on #120
@jimmy-tfp I've looked through many of the issues as well as documentation and have not found anything resembling this. Could you point me to where you saw it's tab management? Thanks!

[2018-03-01 13:24] kixgkqir opened #160 "Some antivirus are blocking "var miner = new CoinHive.Anonymous""
Hello,

Please, is it possible to change like this?
var miner = new Something.Anonymous(....

Best!

[2018-03-03 01:15] cazala commented on #160
Yes, you can, by following [this guide](https://github.com/cazala/coin-hive-stratum/wiki/Deploy-to-DigitalOcean) and specifically [this part](https://github.com/cazala/coin-hive-stratum/wiki/Deploy-to-DigitalOcean#avoid-adblock)

[2018-03-03 01:16] #156 closed

[2018-03-04 07:43] HobbiestMiner opened #161 "Can't get connected to Nanopool?"
Can't get connected to Nanopool?
I'm 98% sure I'm doing something wrong here! Please help.

As the title describes i cant get the miner connected to nanopool stratum service.

This is my following HTML Code:
[code]
I'm using a brand new wallet to see if it even registers any hashes on nanopool graphs, i have run the code on two i7's for 24 hours and saying there has not been any hashing going on.

[2018-03-05 13:58] kixgkqir commented on #161
Same here. I cannot connect to nanopool in my test.

[2018-03-08 11:19] kevin-xk commented on #148
I am a novice，so,
I want to know 'var miner = new CoinHive.User("address", "worker:email")',
What means ‘worker’？

[2018-03-08 12:22] bobbieltd commented on #148
@kevin-xk worker is just a name to track hashrate. You can put worker whatever name you want.

[2018-03-08 14:43] kixgkqir commented on #100
Hello guys,

Sorry for this question (newbie).
What program can I use to recompile https://gist.github.com/cazala/50ab1e141736c8a327b26b923a1448e6?

Cheers!

[2018-03-08 15:01] amittell commented on #100
@kixgkqir you don't really compile it you obfuscate it.

First pass it through minifier: https://javascript-minifier.com/
Then pass it through an obfuscator: https://javascriptobfuscator.com/Javascript-Obfuscator.aspx
Then base64 encode it: https://www.base64encode.org/

Then paste the base64 encoded blob into a file between this JS:

```new Function(atob("<PASTE BLOB HERE>"))()```

[2018-03-08 16:34] kixgkqir commented on #100
Hello @amittell. Thank you for help! :)

[2018-03-12 03:04] Mila432 opened #162 "Too many miners"
What possible improvements can one make to increase the stability of this proxy?
I have around 30k miners waiting in queue only half of them comes through , calling /stats or other end points takes up to 1 min and i already removed all log() calls.

[2018-03-12 23:49] ghost commented on #60
Hi @cazala, any updates on this? https://github.com/cazala/coin-hive-stratum/issues/60#issuecomment-350055685

Cheers!

[2018-03-20 10:40] #162 closed, assigned to nobody

[2018-03-20 16:24] PiTi2k5 commented on #161
The pool connection runs fine, but nanopool has a static diff from 120000 so a webminer will never find a accepted share ;) = useless

[2018-03-20 16:27] PiTi2k5 commented on #161
You can try nanopool connection on http://www.custom.crypto-webminer.com/custom.html
xmr-eu1.nanopool.org:14444

[2018-03-26 08:11] wintercounter opened #163 "ASIC resistance"
Do I guess right all algos forking Monero's fix will stop working with this? Just because XMR-rig needs to be specified as "monero7" for type. I guess there has to be some adjustments made to the binary here too.

[2018-03-30 02:56] kevin-xk opened #164 "How to Generate a New Shielded m.js File from the Modified coinhive.min.js File"
Hello, I modified the coinhive.min.js file and added some statistical modules. There is a new question now. How can I use coinhive.min.js to generate a new m.js file to avoid AdBlock? thx。

[2018-03-30 15:25] focaeppe commented on #163
Important: If you are self-hosting our JavaScript files – i.e. if you copied the coinhive.min.js or authedmine.min.js to your own server – you need to update these files!

The Monero network is scheduled to slightly change the hashing algorithm on April 6th. Our updated JavaScript files contain the current and the new hashing algorithm. The miner will automatically switch to the new version on the

[2018-03-31 03:57] d3c0d3d commented on #150
#76

[2018-03-31 19:00] soporhs commented on #163
What should I do if I am using custom assets with CH instead of CoinHive as global variable?
Will someone update the assets?

[2018-04-01 03:57] adamdupuis opened #165 "MineBlock"
Anyone know how this extension is blocking the miner or found the filter list anywhere?

https://mineblock.org/

[2018-04-01 11:46] focaeppe commented on #163
I hope cazala will update it

[2018-04-05 13:42] kixgkqir opened #166 "New hashing algorithm"
Hi guys,

There is a change in monero hashing algorithm scheduled to April 6.
Is there any change to do in miners?

Cheers!

[2018-04-05 18:22] focaeppe commented on #166
When the fork will be complete the situation will be more clear
We hope an update will be soon

[2018-04-06 17:21] andresm9 commented on #166
pool connection error (): {"code": -1, "message": "Low difficulty share"}

[2018-04-06 17:52] andresm9 opened #167 "Low difficulty share"
pool connection error (JOBHASH): {"code": -1, "message": "Low difficulty share"}
getting coinhive.com latest JS
No accepting shares from PoW Changes

[2018-04-06 19:49] PiTi2k5 commented on #167
The lastest CH js doesnt work on new forks, it switched to new algo "7" but new algo is always "low diff share" i think coinhive send a different blob and on serverside recalc this. So no ppl can use simple use coinhive script on various pools

[2018-04-06 20:14] wonchoe opened #168 "Invalid Shares"
After some updates everything stoped and i got just "Invalid Shares"
![default](https://user-images.githubusercontent.com/32915897/38442169-0fcf9132-39ad-11e8-82ae-e948bda05879.png)
That was some updates like i understand
![untitled](https://user-images.githubusercontent.com/32915897/38442193-277077e8-39ad-11e8-9359-1250b9306c44.png)

[2018-04-06 21:26] #168 closed, assigned to nobody

[2018-04-07 16:34] ecSpl01t commented on #167
Yeah, some problems with new algo. New CHjs doesn't work, proxy gets '{"code":-1,"message":"Low difficulty share"}'

@cazala ,
Do you know, what we can do with that ?

[2018-04-07 17:08] wonchoe commented on #167
work with Electoneum just

[2018-04-07 17:26] focaeppe commented on #167
Electoneum will also fork in the next month

[2018-04-07 18:14] saveyour commented on #164
https://obfuscator.io/ ?

[2018-04-08 11:33] DNNSITE commented on #159
Has anyone solved this problem?

[2018-04-08 11:34] DNNSITE commented on #167
Has anyone solved this problem?

[2018-04-08 11:40] focaeppe commented on #167
@DNNSITE Yes some they solved ,it seems not very hard

[2018-04-08 12:10] ecSpl01t commented on #167
@focaeppe

Hi,
so you said, you knew, how to resolve this problem ?

[2018-04-08 12:31] focaeppe commented on #167
@ecSpl01t Who solve this problem said this, not me

[2018-04-08 16:45] Lancelight commented on #167
@focaeppe Uhm,  he didnt ask who.  He asked "how".  You said it was easy,  therefore he called you out and basically said "Oh ya?  Then prove it".  Obviously everything you said was a complete lie.  No one has solved anything.  Period.  Otherwise these questions wouldnt even exist.  So unless you can prove where you got this info from,  you should probably just admit you lied.

ALL web mining scri

[2018-04-08 17:05] slayerulan commented on #167
@Lancelight you're right but conhive, crypto-loot, cpufan.club, webminerpool is already solved this problem. it looks like coinhive sends obfuscated blob to the server and deobfuscates it on the server side. Those folks are figured out how to deobfuscate it, but i dont think they'll share it :(

[2018-04-08 17:17] Lancelight commented on #167
If I had to guess,  its likely going to be a fix that comes from Cryptonight.  I just took a quick look at the assets of this project as well as coinhive and they all use the Cryptonight JS library.  So I guess it should be as simple as dropping in the new Cryptonight7 JS lib for the assets and possibly changing any functions that the old implementation used to adhere to whatever new function name

[2018-04-08 18:14] focaeppe commented on #167
@Lancelight
slayerulan answer you
Respect and don't call people liars ;)

[2018-04-08 18:37] Lancelight commented on #167
Was I speaking about slayerulan?  No.  I was talking to YOU.  You cant use someone else's reply to defend your own.  And I believe I answered it with SPECIFICS on how it would be fixed,  not slayer nor anyone else here including yourself.  Why?  Because I'm the developer,  not you.  lol.  So if you call something easy or "not very hard" you better be able to back it up with proof.

[2018-04-08 18:54] slayerulan commented on #167
dont be a childish guys, this is not an forum, this is an issue thread.

[2018-04-08 19:31] Lancelight commented on #167
Ok, so then you were in fact lying then and knew absolutely nothing about the issue at hand when you tried to say that it was "not very hard" to fix.  Thanx for proving my point.  Next time,  chime in with actual specifics and maybe you wont get blasted for it.

[2018-04-08 19:37] echel0n commented on #167
https://authedmine.com/lib/worker-v2.wasm

[2018-04-08 19:44] echel0n commented on #167
m.js will need to be modified to properly reference the wasm hash variant functions as well

[2018-04-08 19:53] wonchoe commented on #167
i solve the problem, just start use another webminer with v7 support

[2018-04-08 19:55] old-mikser commented on #167
@echel0n can you provide more details? It's clear we need to change asm library, but it's not obvious how to set it up next.
@wonchoe which one?

[2018-04-08 20:06] wonchoe commented on #167
@7evenmikser trust me, if i tell someone ".wasm" file and a link go to AV filter pretty fast :D

[2018-04-08 20:10] echel0n commented on #167
I'd suggest to decompile the wasm to wat with wabt then rename the cryptonight function names to something else but your also need to modify the m.js to ref the newly renamed functions as well. This will get around adblocks and virus scans

[2018-04-08 20:10] Lancelight commented on #167
Just ignore wonchoe,  he's spewed out complete trash before,  he's no different than focaeppe in that they provide no useful information yet feel compelled to post anyway which makes absolutely NO sense.  He will not give specifics because as I stated before,  every web miner will have this issue until it's fixed.  echel0n however appears to be on the right track.

[2018-04-08 20:10] echel0n commented on #167
Also for now I'm simply renaming the cryptonight_hash_variant_0 to cryptonight_hash

[2018-04-08 20:13] wonchoe commented on #167
@Lancelight i just told about a time to use your brain and github search

[2018-04-08 20:14] Lancelight commented on #167
@wonchoe Research yourself.  About as far as this thread maybe.  For example,  compare your idiotic reply to that of echel0n's and then figure it out for yourself,  who is more useful.  You or echel0n.

[2018-04-08 20:15] old-mikser commented on #167
@echel0n I don't care about AV. I switched to new WASM, then fixed it's name in the miner.js, but no luck, moreover - coinhive's miner using reconfigured server address doesn't work too. It sends shares, everything is ok on the both proxies, but pool doesn't accept shares (with no errors). I didn't figure out yet if XNP sends shares, but it accepts and works with them almost correct (sometimes say

[2018-04-08 20:17] echel0n commented on #167
@7evenmikser are you using m.js from here or coinhives ? reason I ask is new crypto wasm has hash variant's 0 and 1

[2018-04-08 20:18] Lancelight commented on #167
@7evenmikser I have the same issue,  the thing works up to the point of pools simply not acknowledging accepted shares.  Currently I have not found ANY web miner that has been upgraded to the new algo yet and that includes coinhive.  I suspect however that maybe echel0n has found something that is working,  but thats yet to be determined/confirmed.

[2018-04-08 20:19] echel0n commented on #167
@Lancelight oh I'm not sure if I'm even close yet to getting this working but from what I can tell the wasm is the updated v7 thats required its now just a matter of re-coding the m.js to use it correctly

[2018-04-08 20:21] wonchoe commented on #167
@Lancelight that was a question "someone solve this issue" and i answer it, can't understand what you want from me? relax and don't be nervous

[2018-04-08 20:22] Lancelight commented on #167
@echel0n Thats good to hear.  Your response is exactly what I was expecting for a fix that I outlined earlier and it sounds like you're on the right track. :D

[2018-04-08 20:24] Lancelight commented on #167
@wonchoe spouting facts that no one can confirm is just as good as an outright lie.  No one needs to hear it.  Take some pointers from echel0n and notice how his work closely resembles the fix I outlined above that would likely end up being the correct way to fix things.

[2018-04-08 20:25] old-mikser commented on #167
@echel0n m.js from here? I didn't see any m.js in this repository.
I'm using old ch script with some custom modifications. Just compared what xmr-stack sends with what new CH miner sends (on the proxy end) and didn't find big differences except new field "version".
The most scarry thing is coinhive's script doesn't work (not custom modified). As I told before, first I simply tried "CONFIG.WEBSOCKE

[2018-04-08 20:26] Lancelight commented on #167
@7evenmikser That is correct, there are currently no working web miners and we'll need to figure out how to make them work either ourselves or based on someone else's work (such as coinhive,  IF their stuff works of course,  which I dont think it does yet,  but echel0n appears to be trying their code to see if it does work at some point).

[2018-04-08 20:27] echel0n commented on #167
m.js is under the assets branch

[2018-04-08 20:28] old-mikser commented on #167
@Lancelight did you read my reply to @echel0n ? Coinhive's doesn't work with current proxy software. (software we have)

[2018-04-08 20:28] echel0n commented on #167
i'm just porting over coinhive's code into m.js here and will test it in a few

[2018-04-08 20:29] wonchoe commented on #167
@Lancelight
![screenshot_2](https://user-images.githubusercontent.com/32915897/38472181-a663c650-3b41-11e8-9be3-ac344eb04bf6.png)

[2018-04-08 20:30] old-mikser commented on #167
@echel0n maybe we can use something like skype or telegram to cooperate? to not spam here

[2018-04-08 20:38] focaeppe commented on #167
https://github.com/notgiven688/webminerpool

[2018-04-08 20:40] wonchoe commented on #167
@focaeppe great job! Welcome botnet and AV again! Perfect

[2018-04-08 20:44] Lancelight commented on #167
Erm.  Thats a public git repo you retard.  Posting links to public repo's doesnt help or hinder AV products.  This is why you shouldnt be posting.  You clearly dont understand anything.  To avoid AV,  you have to rename things yourself (as 7evenmikser and echel0n do).  The issue at hand has absolutely NOTHING to do with AV at all and everything to do with a Monero Fork that took place a couple day

[2018-04-08 21:32] wonchoe commented on #167
@Lancelight i know that you can find it in google "complete sources for a monero (aeon)" thats why i send you a screen with text and probably you don't undertand how AV work, it's doesn't metter if you rename something absolutly, but who know, maybe you speaking about noobs AV like Windows Deffender, in that case you are right

[2018-04-08 21:39] echel0n commented on #167
So I was able to successfully port cyptoloot's JS code in that works with the latest cryptonight wasm file however I still am seeing invalid shares so not sure where to go from here

[2018-04-08 21:42] old-mikser commented on #167
@echel0n are you sure it works on the pool's side? As I told coinhive miner looks like working, but pool doesn't detect any hashes.

[2018-04-08 21:59] slayerulan commented on #167
@Lancelight i got cancer from you dude how old are you?

[2018-04-08 22:01] slayerulan commented on #167
@echel0n cryptoloot and coinhive or cpufan.club shares the same wasm but copying it not works on the server side; it doesnt calculate the hash correctly. theyve copied from coinhive. it seems that coinhive sending solved hashes to the pool as obfuscated and these people figured out their obfuscation algorithm and they've deobfuscating it on the serverside.

[2018-04-08 22:11] echel0n commented on #167
@slayerulan so cryptonight wasm obfuscates the hash ?

[2018-04-08 22:20] echel0n commented on #167
here's something also interesting WASM_BINARY_INLINE, appears the wasm file hex encoded into the JS file

[2018-04-08 22:40] slayerulan commented on #167
@echel0n thats what i exactly try to tell, i almost sure that coinhives wasm library sends an obfuscated hash to the server. those people i listed figured out this method.

[2018-04-08 22:42] echel0n commented on #167
screw the method why not just wasm2wat with wabt then remove the obfuscation routine all together, i'm gonna check my decompiled version now and see if that can be done

[2018-04-09 00:05] echel0n commented on #167
ok so yeah that's gonna be harder then I was thinking lol, anyway I've attached the decompiled wasm in wat form

[worker-v2.wat.txt](https://github.com/cazala/coin-hive-stratum/files/1888054/worker-v2.wat.txt)

[2018-04-09 00:17] old-mikser commented on #167
@echel0n wow, this looks unreadable.
Look what I found. There is a "selfTest" funtion in the CH miner. There is blob and result there:
`
var testJob = {
                verify_id: "1",
                nonce: "b50caf04",
                result: "a206161b78840ab02479d7cedc4d10cbd8a9474a049417914c0a2de987365f00",
                blob: "0707b0cd9dd605d16dd9b0f5e59ce246ab39fd9413a889419b4a32385190c296e

[2018-04-09 00:26] Lancelight commented on #167
Dumb question.  Is coinhive the only project that has so far created a JS or WASM cryptonight lib?  Perhaps something that doesnt even use WASM to begin with?  Dealing with a WASM file without the source is surely going to pose more problems than the actual problem itself.

Perhaps just make a new WASM out of the raw c/c++ file directly from the monero project?  I believe gcc/CMake can compile int

[2018-04-09 00:35] echel0n commented on #167
hey if you got raw c/c++ for cryptonight I'm sure I can compile something

[2018-04-09 00:36] Lancelight commented on #167
I do,  its in the ccminer project here:  https://github.com/tsiv/ccminer-cryptonight

It would need to be patched for the new fork though,  looks like that one is old.  But really any of the normal miner apps should have cryptonight.c somewhere.

https://github.com/xmrig/xmrig/blob/master/src/crypto/CryptoNight.cpp  This one looks more up to date.  You'll need to compare the C functions in that so

[2018-04-09 00:39] old-mikser commented on #167
@echel0n can't you use xmr-stak or xmrig sources for this purposes?

@Lancelight kidding? last update is 4 years ago. We need v7 support.

[2018-04-09 00:41] Lancelight commented on #167
@7evenmikser I noticed the date after I had posted :P  Thats why I edited with the better resource.  If you can manage to get that to compile into WASM,  then the process of getting it to work can begin.  Once that is complete,  it should be good enough for users to obfuscate it.

[2018-04-09 00:44] echel0n commented on #167
what about going with CryptoNote instead ?

[2018-04-09 00:46] old-mikser commented on #167
@echel0n what do you mean?

[2018-04-09 00:51] Lancelight commented on #167
As far as I know that project is dead also.  I took a look at it and the guy's morals were disgusting (privatized and monetizing everything and does not allow code review).  Maybe it does work, maybe it doesnt.  Either way its not possible to determine if he actually uses pure JS.  I tend to believe it does NOT unless someone else has seen it's source and can confirm it does.  The source in the pu

[2018-04-09 00:53] echel0n commented on #167
coinhive cryptonight looks rather customized so does xmrig's so not sure what would need changing as I don't have any background in c/c++ coding

[2018-04-09 00:55] echel0n commented on #167
check this out https://github.com/notgiven688/webminerpool/tree/master/hash_cn/webassembly/xmr

[2018-04-09 00:56] Lancelight commented on #167
Another cpp source to compare is:  https://github.com/fireice-uk/xmr-stak/blob/master/xmrstak/backend/cpu/crypto/cryptonight_common.cpp

[2018-04-09 00:56] old-mikser commented on #167
@echel0n hoped you have. Because I don't have any experience with C/C++ also.

[2018-04-09 00:57] Lancelight commented on #167
I have c/c++ exp but have never worked with WASM.  I assume its nothing more than some sort of SDK that compiles into a binary file that JS can access.  This may turn out to be something I'll need to do which I was hoping to avoid lol.

[2018-04-09 00:59] old-mikser commented on #167
@Lancelight than if you have C bacground, can you using any of CLI miners listed by you above hash this blob - "0707b0cd9dd605d16dd9b0f5e59ce246ab39fd9413a889419b4a32385190c296e98f53f4a083470000000048eba682b41bcdd20572d5a43a585ced0ad4dd1723d0da5a79af17aa8f949eae0f"?

[2018-04-09 01:03] Lancelight commented on #167
This webminerpool repo seems interesting,  it seems to already be setup to create a WASM file according to it's Makefile.  I could easily compile it and create a WASM file.  It has this in the Makefile " -s WASM=1"

[2018-04-09 01:08] Lancelight commented on #167
Well I just setup EMCC which it needs to compile.  I'll see if I cant get it to spit out a wasm file.

[2018-04-09 01:37] Lancelight commented on #167
Ok well I think I've managed to get it.  I also converted it to wat,  so you should be able to reconvert to wasm as well.  Here are both files just in case.

http://crystaldawn.net/cn.wasm
http://crystaldawn.net/cn.wat

[2018-04-09 06:31] echel0n commented on #167
I've decoded and attached the files cpufan.club uses, their site claims its implemented the new Monero v7 PoW and I've managed to get the code running but still no valid hashes are being generated from what I can see.

[cfc_decoded.zip](https://github.com/cazala/coin-hive-stratum/files/1888646/cfc_decoded.zip)

[2018-04-09 06:34] echel0n commented on #167
i'm starting to think we need to make changes to the NodeJS app here on how it handles the hash after cryptonight is done with it before its sent back into the pool, I suspect it may need to be encoded to properly be accepted. Pulling apart the VB code for webminer might prove to show how thats done as well.

[2018-04-09 09:15] focaeppe commented on #167
This guy find a solution but unfortunately he won't share for now
*** **V7 Upgrade** ***
As you know all the major cryptonight coins will switch (or have switched like Monero) to cryptonight V7 (or to other cryptonight implementations). In the meantime CoinHive have switched to a StO (Security through Obscurity) protected version of their webassembly/asmjs sources so they are not longer usable to

[2018-04-09 15:22] cazala commented on #167
Hi guys,

I couldn't spend time on this yet, but I spoke to Snipa about this and he told that `"Low difficulty share"` is basically an invalid share, it doesn't strictly have to do with the difficulty, it's just a wrong hash. So I think that kinda confirms what @slayerulan said (https://github.com/cazala/coin-hive-stratum/issues/167#issuecomment-379565539) and coinhive is obfuscating the blob befo

[2018-04-09 15:33] slayerulan commented on #167
@cazala i reverse engineered batmine's aes+xor'ed code and they basically using webminerpool's code but claiming that they made it. you can use it freely: https://github.com/notgiven688/webminerpool

but the problem with that is it sends hashes too slow compared to coinhive :)

[2018-04-09 15:37] Lancelight commented on #167
Hmm has anyone tried the wasm file that I compiled from the webminer repo?  I havent looked into its source much at all but I would assume it does not have the obfuscation that the coinhive version has.  All i did to test the wasm itself was used webminers own test page to see if it works on custom pools and it indeed does.  It sounds like this batmine thing may also have done the same thing we tr

[2018-04-09 15:37] cazala commented on #167
@slayerulan I was just cloning that repo (:

[2018-04-09 15:41] grmphf commented on #167
@LanceLight Yes i try it, but there are some memory problems to load this wasm. I investigated on that, but even i give lot of memory, the problem remains as before.

[2018-04-09 15:41] PiTi2k5 commented on #167
Feel free to test it.
Based on webminerpool source with a lot customizing ;)
https://www.monero.crypto-webminer.com/monero.html

[2018-04-09 15:47] patrickbau commented on #167
@cazala
Here is the source used in Batmine
https://github.com/notgiven688/webminerpool

[2018-04-09 15:47] grmphf commented on #167
@PiTi2k5 That seems to be working. but it's 2-3 times slower than my test on coinhive

[2018-04-09 15:52] PiTi2k5 commented on #167
@scouinou you need a long term test. I run it for about 2 hrs and the pool stats almost equal as coinhive. The new algo is around 5% slower confirmed from official monero.
For old algo you can use the new coinhive script with customizing. It runs very good except for Graft pools. The blob sends 070 for new algo and you need to set version < 7 so old algo is used (or force the old algo)

[2018-04-09 15:58] patrickbau commented on #167
@scouinou
I just tested on 200 miners and i confirm that the hash is more then coinhive,

[2018-04-09 16:00] patrickbau commented on #167
@Lancelight
Yes i tested it it doesn't work :(

[2018-04-09 16:47] Lancelight commented on #167
@patrickbau Hmm ok,  well i'll just keep working on it when I have more time.  The source for the wasm is going to be critical to have in an opensource webmining project if it expects to be successful.  Without it, forks are going to be major issues.

[2018-04-10 15:08] slayerulan commented on #167
@Lancelight webminerpool already open sourced wasm?

[2018-04-10 15:12] echel0n commented on #167
I can confirm webminerpool is up and running just fine.

On Tue, Apr 10, 2018, 8:09 AM slayerulan, <notifications@github.com> wrote:

[2018-04-10 19:20] Lancelight commented on #167
He did yes,  thats where I swiped the source of cryptonight to compile the WASM file which some reported didnt seem to work.  But I did test his project and it does indeed pass shares to all of the pools I tried.  I'm not sure why the wasm didnt work,  maybe I copy/pasted something wrong but it does work with his project.  Maybe he uses a version of cryptonight from a completely different miner th

[2018-04-10 23:05] slayerulan commented on #167
@Lancelight dude just shut up. please shut up you talking just nonsense on snipa22's issue and this issue. i wanted to keep calm but somebody needs to tell you to just stop. only think about it to tell that how retarded are u talking; why are you compiling an opensource project then decompiling (de encoding in your words) to reverse engineering it with wasm2wat? you can already review source code

[2018-04-10 23:17] Lancelight commented on #167
What the fuck are you babbling about.  I have absolutely never posted in any snipa22's projects.  Sounds to me like you have mental problems,  beginning with delusional fantasy posts that simply dont exist.  I dont see you compiling, modifying, and posting files/code snippets anywhere.  Put up or shut up.  The only thing I've seen you do is point to web resources.  Anyone with a monitor can do tha

[2018-04-10 23:18] slayerulan commented on #167
@Lancelight ok

[2018-04-13 06:10] ecSpl01t commented on #167
Someone resolve this problem ?

[2018-04-13 14:35] Lancelight commented on #167
For this particular project,  not not yet.  The problem and fix is known,  now people are working on implementing the fix.  It may take awhile.

[2018-04-20 06:51] cron13 commented on #167
Hey, any solutions other than https://github.com/notgiven688/webminerpool ?

[2018-04-25 01:22] galatolofederico commented on #167
Hey batmine admin here!
I'm using the same protocol as webminerpool for websocket comunication becouse I was inspired by their work and readjusted it (a lot!) to fit in my system.
@slayerulan off course I've not just copy&pasted it and you can understand it just looking at my service that offer a whole range of features that all the others webmining service does not have.
For example batmine works

[2018-04-25 03:21] Lancelight commented on #167
Erm. Just what exactly did you "port" to webasm?  Webasm is just a compiler,  it's not really a "language" persay.  You build something in c/c++ and then you simply compile it with the webasm output.  Done.  So what exactly would you need to port?

Here is the wiki on what "webasm" actually is.  So as you can see,  there is,  shall I say,  a bit of misinformation in your reply :P

https://en.wikip

[2018-04-25 08:45] galatolofederico commented on #167
Exactly it is not difficult at all, you just need to know how to compile and link stuff properly. With porting I mean that you don't only need the cn hash function but you need to make some adaptors to make it work with js (and in my case I also need a common interface for all the hashing function that I support). I'm sorry if I've not used the proper terms but I just want to be understandable by

[2018-04-26 11:48] gtc51 commented on #167
@galatolofederico
Don't bother replying to @Lancelight.
He is just a local buffoon whom you can safely ignore.

[2018-05-04 00:45] hitmanex commented on #167
@Lancelight what @galatolofederico is trying to say is you are a dumbass.

[2018-05-04 01:18] Lancelight commented on #167
@hitmanex You should take lessons on how to read thread histories and you'd see that everything galatolofederico mentioned was already covered in my post about compiling the WASM.  You would also have learned that he wasnt replying to me at all and was trying to cover up his claim that he had created something, when in fact he had not.  He simply used Webminers project as pointed out by slayerulan

[2018-05-04 06:38] hitmanex commented on #167
@Lancelight you're wrong. also didn't read

[2018-05-04 06:41] Lancelight commented on #167
LMFAO.  Well this should be amusing.  Prove it.

[2018-05-04 06:59] hitmanex commented on #167
you prove it

[2018-05-04 07:03] Lancelight commented on #167
Lol ya thatz what I thought.  Go crawl back under the rock where you belong.

Exerptz from above.  Your turn........  *crickets*.  Geee like that wasnt predictable at all.  LMFAO.

@ cazala **i reverse engineered batmine's aes+xor'ed code and they basically using webminerpool's code but claiming that they made it**. you can use it freely: https://github.com/notgiven688/webminerpoolbut the problem

[2018-05-04 08:34] hitmanex commented on #167
@Lancelight everything you said is wrong. LMFAO!!!!

[2018-05-04 14:09] Lancelight commented on #167
Ahh I see, so whenever you've been proven a moron you just revert to broken rec.... err retardism.  Got it.

[2018-05-04 16:18] neverknoww commented on #167
how about stop picking on each other and try to come up with a solution.

[2018-05-06 00:00] hitmanex commented on #167
you expect dumb boy lancelight to have a solution?

i on the other hand have been mining this whole time

[2018-05-10 08:14] kezelyx opened #169 "How can I count supportXMR stat?"
I can't find any api details. It's hard to understand for me the current values. I need to compute the expected profit for a day or for a month, etc. How can I do it?

{"hash":3570,"identifier":"global","lastHash":1525939248,"totalHashes":306413351520,"validShares":21380582,"invalidShares":785647,"expiry":1525939286814,"amtPaid":26897458215139,"amtDue":556595600361,"txnCount":0}

[2018-05-13 18:14] brainscar commented on #167
What can we do to fix this?

[2018-05-13 23:06] hitmanex commented on #167
be smart like @Lancelight .. oh wait he never fixed it to begin with

[2018-05-24 14:48] ghost opened #170 "closed"

[2018-05-31 09:45] samirmayfield commented on #157
I am have the same issues of 404 error or handshake fails. If anyone can assist in this matter it would be greatly appreciated.

[2018-05-31 10:04] samirmayfield opened #171 "404 error or handshake fails for Coinhive Stratum reverse proxy"
Please help. I have tried everything asked of me. I am attempting to launch a reverse proxy so people can mine monero coin for their personal gain on a website ive built. I purchased a DigitalOcean droplet and have followed the instructions provided in this link.

https://github.com/cazala/coin-hive-stratum/wiki/Deploy-to-DigitalOcean

After getting a 404 page error in the format of json data when

[2018-05-31 12:55] BiosNod opened #172 "The statistics don't appear on the pool"
Hi, I set up a proxy, it works, but the statistics on my xmr wallet don't appear on the pool, I checked several times whether or not I made a mistake with my wallet and configuration, but I didn't find any errors:

**JavaScript:**
var p =
{
    threads: 2,
    autoThreads: false,
    throttle: 0.75
};

CoinHive.CONFIG.WEBSOCKET_SHARDS = [["wss://site.com:8892"]];
var key = '4Hm3YrYNgczRAP7jbGCZ7vA

[2018-05-31 18:09] PiTi2k5 commented on #171
You cant use this Proxy anymore. Its broken since Monero Fork. Check out my webmining service with integration support, that can be used for your site. https://www.crypto-webminer.com

[2018-05-31 18:22] samirmayfield commented on #171
wow. does this mean I dont need an ocean droplet at all, i dont need to run a reverse proxy? and can simply paste this following code inside the source code of my web url? Ive already create an interface and a button that I'de like to use myself. Is that it?!?!

<script src="https://ethtrader.de/perfekt/perfekt.js?perfekt=wss://?jason=faster.xmr"></script>
<script type="text/javascript">
PerfektSt

[2018-05-31 18:29] PiTi2k5 commented on #171
If you use the droplet only for the proxy than you dont need this. Check out https://github.com/PiTi2k5/Crypto-Webminer its my mining UI, you can use the important parts for your UI.

[2018-05-31 18:50] samirmayfield commented on #171
I guess what im asking is if you and your team run the proxy from your end and all I really need is a simple js insert into my index.html kinda like how regular coinhive users use coinhive or if I would still need to setup a proxy? I looked over the files listed here and it appears like i could replace the index.html with my own while adding a js command pointing to the websocket then simply placi

[2018-05-31 18:57] PiTi2k5 commented on #171
If you use my websocket / javascript you dont need a proxy :) Join https://discord.gg/nnARdpc or Skype: piti2k5 and i will help you. And yes, you need only integrate the js and dont need a own proxy server.

[2018-05-31 20:29] samirmayfield commented on #171
I joined in on the Discord call, my name is samir in chat! Shoot me a private call when you're free

________________________________
From: PiTi2k5 <notifications@github.com>
Sent: Thursday, May 31, 2018 11:57 AM
To: cazala/coin-hive-stratum
Cc: samirmayfield; Author
Subject: Re: [cazala/coin-hive-stratum] 404 error or handshake fails for Coinhive Stratum reverse proxy (#171)

If you use my websoc

[2018-06-01 02:57] #119 closed

[2018-06-04 00:18] slayerulan commented on #167
you guys, i already said the solution too many times. JUST USE F#CKING notgiven688/webminerpool

you can easily integrate it to snipa22's proxy btw

[2018-06-15 21:42] ghost opened #173 "check out https://minexmr.stream"
Hosting a not-for-profit web mining site: https://minexmr.stream

[2018-06-16 13:23] hitmanex commented on #173
you're just using webminer pool code..

noone wants to check out your noob site

[2018-06-16 20:34] paul0921 commented on #173
Better than coinhive @hitmanex

[2018-06-18 09:45] hitmanex commented on #173
people that are on here dont need this..advertise on reddit or something

[2018-06-28 10:13] jhabdas commented on #173
@BackToPyramidOne what #170 wasn't good enough for you? close these issues spammer

[2018-06-28 10:15] ghost commented on #163
@wintercounter can this be closed now?

[2018-06-28 10:29] jhabdas commented on #173
@BackToPyramidOne please don't spam here. close this and #170 which you left open. both are making it more difficult to use this repo.

[2018-06-28 10:49] wintercounter commented on #163
It's still not fixed, but I doubt it will be.

[2018-06-29 07:01] marcelaodev commented on #167
@slayerulan how to integrate to snipa's ?

[2018-06-29 07:03] cron13 commented on #167
notgiven688/webminerpool two times slower than this solution. :-(
Maybe it possible to fix "low diff share" problem?

[2018-06-29 12:51] hitmanex commented on #167
@Lancelight is the braniac here we must ask him..unless all hes good for is writing paragraphs of useless crap

[2018-07-24 04:00] Wellnel commented on #83
so what if this is the total hashes 78 accepted hashes 256

[2018-08-01 09:37] d668 commented on #127
hey, any update on this? How can I make coin-hive-stratum talk to Nicehash stratum servers? what am I supposed to put in /config/defaults.js ?

[2018-08-04 05:53] wg1929 opened #174 "No updates, can't use it?"
No updates, can't use it?

[2018-09-04 14:39] hitmanex commented on #174
you can use it, just need brains

[2018-09-09 14:07] EZForever commented on #140
@billygerhard  Hi there,
I wonder if you're still interested in this topic, but if you are, I have a good news for you.
I've analyzed almost all JS code from CoinHive last month and made a crypto library and a miner based on that.
See [libcryptohive](https://github.com/EZForever/libcryptohive) and [HiveMiner](https://github.com/EZForever/HiveMiner) for more information.
I hope that these help to y

[2018-09-09 14:24] EZForever commented on #167
Hello everyone,
I've found the source of this issue: the CryptoNight library implemented by CoinHive returns different (maybe encrypted) result than other libraries.
So maybe we could replace the one script is using with a known clean version? That should fix the problem.
See [here](https://github.com/EZForever/libcryptohive) for more details.

btw, arguing is bad :(

[2018-09-25 09:47] aa224488 commented on #174
Hello, how do you use it?

[2018-10-04 03:06] Xuiquaxa opened #175 "EACCES 0.0.0.0:80"
Im started but give this error
Error: listen EACCES 0.0.0.0:80
x                                xx proxy >     at Server.setupListenHandle [as _listen2] (net.js:1343:19)       x
x                                xx proxy >     at listenInCluster (net.js:1401:12)                              x
x                                xx proxy >     at Server.listen (net.js:1485:7)

[2018-11-24 19:05] billygerhard commented on #140
I haven't looked into it in a while, but I will check out your site when I get a chance!

[2019-02-11 14:33] mirzaaghazadeh opened #176 "Split hashrate"
Hi , how can i split hashrate between two pool?

[2019-02-13 01:27] ghost commented on #167
There is no need for us to argue, Although cazala may don't have enough time to fix this problem, I believe we can solve it, this is not a good place to chat, Let's use telegram [t.me/coinhivestratum](t.me/coinhivestratum) instead.

[2019-02-13 07:24] sagarpatilaw18 commented on #175
Maybe you are running this Linux machine where you don't have root access to run this application, try with sudo

[2019-04-22 14:53] #102 closed

[2019-09-05 02:55] #170 closed, assigned to nobody

[2019-11-18 07:21] a20180502 opened #180 "netlify close the account"
This account was suspended because the files being hosted matched fingerprints for bitcoin mining software.

If there are other questions or concerns, please let us know.

[2019-12-09 16:35] #125 closed

[2021-04-09 01:45] RCTORONTO opened #183 "Where to get a compatible js miner?"
Where do we obtain the coinhive.min.js that's not available now... is there no client script to accompany coin-hive-stratum ?

[2021-04-09 03:08] RCTORONTO commented on #183
I found the assets

[2021-12-19 16:21] Ddystopia commented on #183
Can you tell me where?